#background {
    background-image: url("images/pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    min-height: 50vh;
    overflow: hidden;
}

h1{
    font-family: "roboto-condensed";
}
#kep2 {
    max-width: 100%;
    height: auto;
    display: block;
}

#fifty{
    height:auto;
}


.img-box {
    width: 100%;
    aspect-ratio: 4 / 3;   
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.fade-in {
    opacity: 0;
    transform: translateY(20px); /* optional: slide up */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

#s{
    font-size: 18px;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}